section.about
	.container
		+blockBox({
			caption: "What we do", 
			title: "Story about us", 
			desc: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit repellat odio dolore possimus non culpa ad commodi consequuntur pariatur!"
		})
		.about-list
			+aboutItem({
				src: "../images/img-about1.png", 
				title: "Flower", 
				icon: "fa fa-users"
			})
			+aboutItem({
				src: "../images/img-about2.png", 
				title: "Butterfly", 
				icon: "fa fa-home"
			})
			+aboutItem({
				src: "../images/img-about3.png", 
				title: "Another", 
				icon: "fa fa-heart"
			})