section.people
	.container
		+blockBox({
			caption: "Happy clients",
			title: "What people say"
		}) 
		ul.people-list
			+peopleItem({
				src: "./images/img-people1.png",
				name: "Matthew Dix",
				job: "Graphic Design",
				desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, quam sunt aperiam officiis officia ipsam veniam quidem cum nobis consectetur minima, molestias mollitia aliquam nihil unde expedita, error accusantium atque."
			}) 
			+peopleItem({
				src: "./images/img-people2.png",
				name: "Nick Karvounis",
				job: "Graphic Design",
				desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, quam sunt aperiam officiis officia ipsam veniam quidem cum nobis consectetur minima, molestias mollitia aliquam nihil unde expedita, error accusantium atque."
			}) 
			+peopleItem({
				src: "./images/img-people3.png",
				name: "Jaelynn Castillo",
				job: "Graphic Design",
				desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, quam sunt aperiam officiis officia ipsam veniam quidem cum nobis consectetur minima, molestias mollitia aliquam nihil unde expedita, error accusantium atque."
			}) 
			+peopleItem({
				src: "./images/img-people4.png",
				name: "Mike Petrucci",
				job: "Graphic Design",
				desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, quam sunt aperiam officiis officia ipsam veniam quidem cum nobis consectetur minima, molestias mollitia aliquam nihil unde expedita, error accusantium atque."
			}) 
