section.quote 
	.container
		.quote-container
			//- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
			+quoteItem({
				src: "../images/img-quote.png",
				type: false,
				desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vel itaque officiis molestiae blanditiis a neque quas esse aliquam, vero sunt aspernatur, tempore quibusdam nobis ipsa ipsam, culpa maiores earum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vel itaque officiis molestiae blanditiis a neque quas esse aliquam",
				author:  "John Doe"
			})
			+quoteItem({
				src: "../images/img-quote.png",
				type: false,
				desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vel itaque officiis molestiae blanditiis a neque quas esse aliquam, vero sunt aspernatur, tempore quibusdam nobis ipsa ipsam, culpa maiores earum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vel itaque officiis molestiae blanditiis a neque quas esse aliquam",
				author:  "John Doe"
			})
			+quoteItem({
				src: "../images/img-quote.png",
				type: false,
				desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vel itaque officiis molestiae blanditiis a neque quas esse aliquam, vero sunt aspernatur, tempore quibusdam nobis ipsa ipsam, culpa maiores earum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vel itaque officiis molestiae blanditiis a neque quas esse aliquam",
				author:  "John Doe"
			})
			//- i.fal.fa-angle-right.quote-arrow-right.quote-arrow
