section.quote 
	.container
		.quote-container
			//- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
			+quoteItem({
				src: "./images/img-quote-avatar.png",
				type: true,
				desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vel itaque officiis molestiae blanditiis a neque quas esse aliquam, vero sunt aspernatur, tempore quibusdam nobis ipsa ipsam, culpa maiores earum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vel itaque officiis molestiae blanditiis a neque quas esse aliquam",
				author:  "John Doe"
			})
			+quoteItem({
				src: "https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
				type: true,
				desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vel itaqu,e officiis molestiae blanditiis a neque quas esse aliquam, vero sunt aspernatur, tempore quibusdam nobis ipsa ipsam, culpa maiores earum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vel itaque officiis molestiae blanditiis a neque quas esse aliquam",
				author:  "John Doe"
			}) 
			+quoteItem({
				src: "https://images.unsplash.com/photo-1508341591423-4347099e1f19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bWVufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60",
				type: true,
				desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vel itaque officiis molestiae blanditiis a neque quas esse aliquam, vero sunt aspernatur, tempore quibusdam nobis ipsa ipsam, culpa maiores earum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vel itaque officiis molestiae blanditiis a neque quas esse aliquam",
				author:  "John Doe"
			}) 
			//- i.fal.fa-angle-right.quote-arrow-right.quote-arrow
