section.wedo
	.container
		+blockBox({
			caption: "Service",
			title: "What we do",
			desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat optio fuga exercitationem quidem non. Totam illum vel, earum repudiandae deleniti non itaque fugit necessitatibus inventore sint ut assumenda perspiciatis?"
		}) 
		.wedo-container 
			img.wedo-img(src= "../images/img-wedo.png")
			.wedo-content 
				+wedoItem({
					src: "../images/img-wedo-icon1.png", 
					title: "Photography", 
					desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta magnam repellendus voluptatum natus sunt, explicabo ipsam repellat ea, temporibus totam atque neque debitis fugit labore. Autem ex nulla consectetur corporis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta magnam repellendus voluptatum natus sunt, explicabo ipsam repellat ea, temporibus totam atque neque debitis fugit labore. Autem ex nulla consectetur corporis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta magnam repellendus voluptatum natus sunt, explicabo ipsam repellat ea, temporibus totam atque neque debitis fugit labore. Autem ex nulla consectetur corporis.", 
					active: "is-active"
				})
				+wedoItem({
					src: "../images/img-wedo-icon2.png", 
					title: "Creativity", 
					desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta magnam repellendus voluptatum natus sunt, explicabo ipsam repellat ea, temporibus totam atque neque debitis fugit labore. Autem ex nulla consectetur corporis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta magnam repellendus voluptatum natus sunt, explicabo ipsam repellat ea, temporibus totam atque neque debitis fugit labore. Autem ex nulla consectetur corporis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta magnam repellendus voluptatum natus sunt, explicabo ipsam repellat ea, temporibus totam atque neque debitis fugit labore. Autem ex nulla consectetur corporis."
				})
				+wedoItem({
					src: "../images/img-wedo-icon3.png", 
					title: "Web desgin", 
					desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta magnam repellendus voluptatum natus sunt, explicabo ipsam repellat ea, temporibus totam atque neque debitis fugit labore. Autem ex nulla consectetur corporis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta magnam repellendus voluptatum natus sunt, explicabo ipsam repellat ea, temporibus totam atque neque debitis fugit labore. Autem ex nulla consectetur corporis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta magnam repellendus voluptatum natus sunt, explicabo ipsam repellat ea, temporibus totam atque neque debitis fugit labore. Autem ex nulla consectetur corporis."
				})