section.work 
	.container 
		+blockBox({
			caption: "What we do",
			title: "Some of our work", 
			desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla incidunt officia impedit magnam molestias? Porro temporibus alias ab earum! Suscipit."
		})  
	.work-list
		.work-column
			+workItem({
				src: "./images/img-work1.png",
				icon: "fa fa-home",
				title: "Photographer Super",
				desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam ipsa ipsum alias sapiente modi debitis non assumenda? Fugit ipsum ipsa expedita quam cum error doloribus totam nam tempora omnis!"
			})
			+workItem({
				src: "./images/img-work2.png",
				icon: "fa fa-cog",
				title: "Frontend Developer",
				desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam ipsa ipsum alias sapiente modi debitis non assumenda? Fugit ipsum ipsa expedita quam cum error doloribus totam nam tempora omnis!"
			}) 
		.work-column
			+workItem({
				src: "./images/img-work3.png",
				icon: "fa fa-home",
				title: "Photographer Super",
				desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam ipsa ipsum alias sapiente modi debitis non assumenda? Fugit ipsum ipsa expedita quam cum error doloribus totam nam tempora omnis!"
			})
			+workItem({
				src: "./images/img-work4.png",
				icon: "fa fa-home",
				title: "Photographer Super",
				desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam ipsa ipsum alias sapiente modi debitis non assumenda? Fugit ipsum ipsa expedita quam cum error doloribus totam nam tempora omnis!"
			})
		.work-column
			+workItem({
				src: "./images/img-work5.png",
				icon: "fa fa-heart",
				title: "Super heart",
				desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam ipsa ipsum alias sapiente modi debitis non assumenda? Fugit ipsum ipsa expedita quam cum error doloribus totam nam tempora omnis!",
				full: "work-item--full"
			})   
		.work-column
			+workItem({
				src: "./images/img-work6.png",
				icon: "fa fa-home",
				title: "Photographer Super",
				desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam ipsa ipsum alias sapiente modi debitis non assumenda? Fugit ipsum ipsa expedita quam cum error doloribus totam nam tempora omnis!"
			})
			+workItem({
				src: "./images/img-work7.png",
				icon: "fa fa-home",
				title: "Photographer Super",
				desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quisquam ipsa ipsum alias sapiente modi debitis non assumenda? Fugit ipsum ipsa expedita quam cum error doloribus totam nam tempora omnis!"
			})
			